@layout("/common/_container.html"){
@include("/common/_header.html"){}

<div class="ibox float-e-margins">
    <div class="ibox-content">

        <div class="row btn-group-m-t" style="width: 500px;float:right;">
            <div class="col-sm-10">
                <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ArticleInfoDlg.editSubmit()"/>
                <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ArticleInfoDlg.close()"/>
            </div>
        </div>

        <div class="form-horizontal" id="siteForm">
            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="title" value="${item.title}">
            <h1>${item.title}</h1>
            <div class="row">
                <div class="col-sm-12 b-r">
                    <#image id="cover" name="图标" avatarImg="${item.cover}" underline="true"/>
                </div>
            </div>

            <div id="test-editormd">
                <textarea id="content" style="display:none;">${item.content}</textarea>
            </div>
        </div>
    </div>
</div>

<script src="${ctxPath}/static/modular/system/article/article_info.js"></script>
<script src="${ctxPath}/static/js/jquery.min.js"></script>
<script src="${ctxPath}/static/js/editormd.min.js"></script>
<script type="text/javascript">
    var testEditor;

    $(function() {
        testEditor = editormd("test-editormd", {
            width   : "90%",
            height  : 800,
            syncScrolling : "single",
            path    : "/static/md/lib/"
        });

        /*
        // or
        testEditor = editormd({
            id      : "test-editormd",
            width   : "90%",
            height  : 640,
            path    : "../lib/"
        });
        */
    });
</script>
@}
