<!-- Main Footer -->
<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
<!-- Or class "fixed" to  always fix the footer to the end of page -->
<footer class="main-footer sticky footer-type-1">
    <div class="footer-inner ">
        <div class="footer-text ">
            <div class="footer-copyright text-xs">
                Copyright © 2023 <a href="https://site.aiideas.top" title="AI 奇思妙想" class="" rel="home">AI 奇思妙想</a>&nbsp;<a href="https://beian.miit.gov.cn/" target="_blank" class="" rel="link noopener">京ICP备2023005147号-2</a>&nbsp;<script async="" src="https://umamis.zeabur.app/script.js" data-website-id="4c49851e-f312-4d4a-a9ac-f84506e6b50f"></script>            </div>
        </div>
    </div>
</footer>