<nav class="navbar user-info-navbar" role="navigation" style="position: fixed;z-index: 5">
    <!-- User Info, Notifications and Menu Bar -->
    <!-- Left links for user info navbar -->
    <ul class="user-info-menu left-links list-inline list-unstyled">
        <li class="hidden-sm hidden-xs">
            <a href="#" data-toggle="sidebar">
                <i class="fa-bars"></i>
            </a>
        </li>
    </ul>
    <div style="display: flex;">
        <div style="line-height: 75px;margin-left: 15px;font-size: 16px">
            <a href="/about">
                关于本站
            </a>
        </div>
        <div style="line-height: 75px;margin-left: 100px;font-size: 16px">工具在精不在多，基本每个工具我都试过，详情里有使用说明</div>
    </div>

    <!--            <a href="https://github.com/jsnjfz/WebStack-Guns" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>-->
</nav>