<!DOCTYPE html>
<html lang="zh">

@include("/common/_header.html"){}

<body class="page-body boxed-container">
<nav class="navbar horizontal-menu navbar-fixed-top">
    <div class="navbar-inner">
<!--        <div class="navbar-brand">-->
<!--            <a href="/" class="logo">-->
<!--                <img src="/static/img/logo2x.png" width="100%" alt="" class="hidden-xs">-->
<!--                <img src="/static/img/logo2x.png" width="100%" alt="" class="visible-xs">-->
<!--            </a>-->
<!--        </div>-->
        <div class="navbar-mobile-clear"></div>
<!--        <a href="https://github.com/jsnjfz/WebStack-Guns" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>-->
    </div>
</nav>
<div class="page-container">
    <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
    <div class="main-content" style="">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <!-- 关于网站 -->
                    <h4 class="text-gray">关于网站</h4>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <blockquote>
                                    <p>本网站集合了各类人工智能相关的工具与网站,涵盖了机器学习、深度学习、计算机视觉、自然语言处理等人工智能的方方面面。网站提供的工具包括模型训练、数据标注、代码编辑等实用的 AI 开发工具;网站链接涉及数据集、论文、课程、博客等人工智能领域的信息资源。</p>
                                    <p>网站目的是为 AI 开发者与学习者提供一个集中的导航平台,快速找到所需要的工具与信息。无论您是 AI 领域的专家还是刚刚起步的初学者,在这里都可以发现符合您需求的有用工具与资源。我们定期更新网站内容,确保提供最新的AI技术与产品信息。</p>
                                    <p>总之,这个 AI 工具与网站导航站点旨在通过系统汇总人工智能实用工具与参考资料,为 AI 研究人员、开发者及学习者带来便利。我们希望能够为人工智能进步和推广尽一份力。欢迎对人工智能感兴趣的朋友频繁访问我们的网站,发现更多实用资源!</p>
                                    <p>如您有任何反馈或建议,请通过网站上的联系方式告诉我们。我们非常欢迎您为网站提供更多优质内容与资源,您的贡献将有助于这个 AI 社区更加繁荣。</p>
                                </blockquote>
                            </div>
                        </div>
                        <!-- 关于作者 -->
                        <h4 class="text-gray">关于作者</h4>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="xe-widget xe-conversations box2 label-info"  data-toggle="tooltip" data-placement="bottom" title="" >
                                    <div class="xe-comment-entry">
<!--                                        <a class="xe-user-img">-->
<!--                                            <img src="https://secure.gravatar.com/avatar/41100536f1c27b5282100eb0c41aa90d" class="img-circle" width="40">-->
<!--                                        </a>-->
                                        <div class="xe-comment">
<!--                                            <a href="#" class="xe-user-name overflowClip_1">-->
<!--                                                <strong>Designer. ai_ideas</strong>-->
<!--                                            </a>-->
                                            <p class="overflowClip_2"> 微信: ai_ideas</p>
                                            <p class="overflowClip_2"> 公众号: AI奇思妙想</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <br />
                                        <blockquote>
                                            <p>
                                                AI奇思妙想 公众号已接入ChatGPT，完全免费，欢迎使用。
                                            </p>
                                        </blockquote>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Footer -->
        <footer class="main-footer sticky footer-type-1 fixed">
            <div class="footer-inner">
                <div class="footer-text">
                    &copy; 2019
                    <a href="/"><strong>WebStack</strong></a> design by <a href="https://github.com/jsnjfz" target="_blank"><strong>jsnjfz</strong></a>
                </div>
                <div class="go-up">
                    <a href="#" rel="go-top">
                        <i class="fa-angle-up"></i>
                    </a>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>